#CML{
    overflow-x: auto;
    overflow-y: auto;
}

#CMLTable{
    width: 1200px;
    border-spacing: 0px;
}

.CMLIcon{
    width:20px;
    height:20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
}

#CMLTableBody{
    font-size: 8pt;
    text-align: right;
}
#CMLTableBody th, #CMLTableBody td{
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
}

#CMLTableBody tr:nth-child(even) {
    background-color: rgb(70, 70, 70);
}

#CMLTableBody tr:hover {
    background-color: #ffab00;
    color: black;
}