/***************************************************
*            Main Panels 
****************************************************/
#farmRun{
    overflow-y: scroll;
    height: calc(100% - 35px)
}

#farmData{
    overflow-y: scroll;
    height: calc(100% - 35px)
}


/***************************************************
*            Timer             
****************************************************/

#farmTimer{
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#stopFarmTimer{
    margin-bottom: 40px;
    text-align: center;
    color: #378aff;
    cursor: pointer;
}

/***************************************************
*            Inputs        
****************************************************/

#farmRunInputContainer{
    widows: 100%;
    height: 300px;
}

.farmRowLeft{
    width: calc(50% - 10px);
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.farmRowRight{
    width: 50%;
    height: 50px;
}

.farmRowRight input{
    margin-top: 5px;
    line-height: 40px;
    font-size: 12pt;
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    font-size: 15px;
    padding-left: 5px;
}

/***************************************************
*            Save Run Button                    
****************************************************/

#saveFarmRunButton, #saveFarmRunEditButton{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5px;
    line-height: 40px;
    background-color: #902929;
    border-color: rgb(27, 27, 27);
    font-size: 15pt;
    color: white;
}

#saveFarmRunButton:hover, #saveFarmRunEditButton:hover{
    background-color: #ff6666;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/***************************************************
*            Farm Data          
****************************************************/

#farmInfo{
    text-align: center;
    font-size: 10pt;
    color: rgb(103, 103, 103);
}

#farmInfoTable{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#farmInfoTable tr{
    height: 25px;
}

#farmInfoTable td{
    width: 50%;
    padding-left: 10px;
}

#farmRunTable{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* Removes the ability to select text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#farmRunTable th{
    text-align: right;
}

#farmRunTable tr:hover {
    background-color: #ffab00;
    color: black;
    cursor: pointer;
}

/***************************************************
*            Graph
****************************************************/

#farmDataGraph{
    width: 100%;
    height: 400px;
}

#farmDataGraph .xaxis line,#farmDataGraph .xaxis path{
    stroke:white;
}
#farmDataGraph .xaxis text{
    stroke-width: 0px;
    fill: white;
}

#farmDataGraph .yaxis line,#farmDataGraph .yaxis path{
    stroke:white;
}
#farmDataGraph .yaxis text{
    stroke-width: 0px;
    fill: white;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}

.line2 {
    fill: none;
    stroke: #e100ff;
    stroke-width: 2;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

/**/
#herbTypeButtons{
    height: 40px;
    width: 100%;
}

#herbTypeButtons div{
    height: 38px;
    float: left;
    margin: 0px 4px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 25px;
}

#herbTypeButtons div:hover{
    background-color: white;
    color: black;
}