/***************************************************
*            Main Panels
****************************************************/
#settingsPanel{
    height: calc(100% - 35px);
    width: 100%;
    overflow-y: auto;
    overflow: auto;
}

/***************************************************
*            Settings Row
****************************************************/
.settingsRow{
    height: 40px;
    width: 100%;
    /* background-color: gold; */
    float: left;
    margin-top: 5px;
}
.settingsRow button{
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.settingsRow button:hover{
    background-color: rgb(35, 27, 78);
    cursor: pointer;
}

/***************************************************
*            Text
****************************************************/
.settingsText{
    /* background-color: blue; */
    width: calc(50% - 5px);
    height: 100%;
    float: left;
    line-height: 40px;
    text-align: right;
    padding-right: 5px;
}

#settingsPanel h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/***************************************************
*            Input
****************************************************/
.settingsInput{
    /* background-color: red; */
    width: 50%;
    height: 100%;
}

.settingsInput select{
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
}

.settingsInput input{
    width: 50%;
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    font-size: 15px;
    padding-left: 5px;
    line-height: 38px;
}

/***************************************************
*            Save Button
****************************************************/
#saveButton{
    background-color: #902929;
    border-color: rgb(27, 27, 27);
    height: 40px;
    width: 100%;
}

#saveButton:hover{
    background-color: #3d1212;
    cursor: pointer;
}

/***************************************************
*            Player Name Inputs
****************************************************/

.playerNameSettingsInput{
    margin: 5px 10px;
    width: calc(100% - 20px);
    height: 35px;
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    font-size: 15px;
    padding-left: 5px;
    line-height: 100%;
}

/****************************************************
*            Toggles
****************************************************/

.twoToggle{
    float: left;
    line-height: 38px;
    border: white;
    border-width: 1px;
    border-style: solid;
    padding: 0px 10px;
    margin-left: 5px;
    width: 100px;
    text-align: center;
    opacity: 0.5;
}

.twoToggle.on{
    background-color: #00A1CB;
    opacity: 1.0;
    cursor: default;
}

.twoToggle:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    opacity: 1.0;
}

.twoToggle.on:hover{
    cursor: default;
    background-color: #00A1CB;
    color: white;
}

/****************************************************
*            Farm settings button
****************************************************/
#seedInfoButton{
    color: white;
    width: 50%;
    border: white;
    border-width: 1px;
    border-style: solid;
    padding: 5px 0px;
    margin: 0px 25%;
}

#seedInfoButton:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}