#slayerTables h2{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#slayerTables table{
    width: 100%;
}

#slayerTables{
    overflow-y: auto;
    height: calc(100% - 35px);
}